<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="favicon.ico?v=1.0" rel="icon" type="image/x-icon"/>
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>
<div></div>
<script src="layui/layui.js"></script>
<script>
    window.onload = function () {
        window.location.href = "system/user/login"
    }
</script>
</body>
</html>